header{
    font-family: Georgia;
    font-size: 110%;
    margin-left: 50px;
}

.jumbotron {
    background-image: url('http://s32.postimg.org/i3mwrlz11/image_libre.jpg');
    background-size:100% auto;
    color : white;
    min-height : 900px;
    margin-bottom: 8px;
    margin-top : 0px;
    background-attachment: fixed;

    font-family: Georgia;

}

.jumbotron #titreBienvenue {
    padding-top: 16%;
}
.jumbotron #titreBienvenue h1 strong{
    font-size: 80%;
    margin-left: 40px;
}

.jumbotron #titreBienvenue #sstitreBienveue{
    padding-top: 2%;
    padding-right: 0%;
    font-size: 260%;
}


 header{
    position: absolute;
    margin-top: 0px;
}

 #logo{
     color: dodgerblue;
     font-size: 20pt;
 }


.navbar-inverse  {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/****************************  Authentification template  ****************************/

.card-container.card {
    max-width: 350px;
    padding:  10px;
    font-family: "Helvetica";

}
#inscription-cont{
    margin-top:  -5px;
}

#inscription-pag{
    font-size: 13pt;
    color: whitesmoke;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: rgba(59, 59, 59, 0.39);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 30px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-signin #inputEmail,
.form-signin #inputPassword,
.form-signin #inputPassword2{
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;



}
input::-webkit-input-placeholder { font-size: 11pt; color: #555; }
input::-moz-placeholder { font-size: 11pt; color: #555; }
input:-ms-input-placeholder { font-size: 11pt; color: #555; }
input:-moz-placeholder { font-size: 11pt; color: #555; }



.form-signin button {
    width: 39%;
    height:40px;
    margin-left: 60%;
    margin-top: 10px;
    text-align: center;
    background-color: deepskyblue;
    border-color:deepskyblue;

}

.form-signin button:hover{
    background: dodgerblue;
    border-color:dodgerblue;
    color: whitesmoke;
}

#sign2{
    width: 39%;
    height:40px;
    margin-left: 60%;
    margin-top: 10px;
    text-align: center;
    background-color: forestgreen;
    border-color:forestgreen;
}
#sign2:hover{
    background: darkgreen;
    border-color:darkgreen;
    color: whitesmoke;
}


